<div id="sideMenu"
    class="fixed w-screen h-screen transition-all duration-300 bg-light -left-full">
    <button id="closeMenu"
        class="pl-10 font-thin text-[40px] text-dark pt-50">×</button>
    <ul class="flex flex-col ml-24 gap-25 mt-50">
        <li><a class="nav__link"
                href="/src/catalog/">catalog</a></li>
        <li><a class="nav__link"
                href="/src/blog/">blog</a></li>
        <li><a class="nav__link"
                href="#">about</a></li>
    </ul>

</div>