<div class="header">

    <div class="header__top">
        <div
            class="burger"
            id="toggleMenu"><span></span><span></span><span></span>
        </div>
        <a href="/src/" class="header__logo"><img
                src="/src//logo/logo.png" alt="logo"
                class="header__logo_img"></a>
        <div class="header__icons">
            <a href="#"><span
                    class="header__icon icon-search"></span></a>
            <a href="#"><span
                    class="header__icon icon-shopping-bag"></spa></a></div>
    </div>

    <nav class="header__nav">
        <ul>
            <li> <a href="/src/catalog/">catalog</a></li>
            <li><a href="/src/blog/">blog</a></li>
            <li><a href="/src/about/">about</a></li>
        </ul>
    </nav>
</div>