<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pottery catalog</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,400&display=swap"
            rel="stylesheet" />
        <link
            href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/src/css/style.css">
    </head>
    <body>
        <main>
            <section class="blog">
                <%- include("src/templates/head_mob.html") %>

                <div class="container">
                    <%- include("src/templates/head.html") %>
                    <h1 class="title-h2 mt-60 xl:mt-100">our digital notes</h1>
                    <div
                        class="flex flex-wrap gap-40 mt-60 md:p-25 lg:flex-wrap relative 
                        before:md:w-200 before:md:absolute before:md:h-1 before:md:top-0 before:md:left-0 before:md:h-200 before:md:border before:md:border-dark before:md:border-r-0 before:md:border-b-0 
                        ;">
                        <div class="blog__card">
                            <div class="blog__data">
                                <img src="/src/img/inspiration/2115.jpg" alt>
                                <div class="blog__read">
                                    <h3>pottery secrets</h3>
                                    <button>read</button>
                                </div>
                            </div>
                            <div class="blog__text">Discover the timeless art of
                                pottery and unlock the secrets hidden in every
                                curve and glaze. From mastering the perfect
                                wheel technique to understanding how clay
                                transforms in the kiln, each step reveals a
                                blend of tradition and creativity. The true
                                magic lies in the details—subtle textures,
                                natural imperfections, and the unique touch of
                                the artisan’s hand, turning simple earth into
                                lasting beauty.
                            </div>
                        </div>

                        <div class="blog__card">
                            <div class="blog__data">
                                <img src="/src/img/inspiration/fixtures.jpg"
                                    alt>
                                <div class="blog__read">
                                    <h3>the best materials for pottery</h3>
                                    <button>read</button>
                                </div>
                            </div>
                            <div class="blog__text">The best material for
                                pottery often depends on the desired look and
                                function, but stoneware is a favorite for its
                                durability and versatility. It’s strong,
                                resistant to chipping, and perfect for both
                                functional pieces like mugs and plates, as well
                                as decorative art. Porcelain offers a delicate,
                                refined finish, ideal for intricate
                                designs</div>
                        </div>

                    </div>
                </div>
            </section>
            <%- include("src/templates/footer.html") %>

        </main>
        <script type="module" src="/src/js/main.js"></script>
    </body>
</html>