<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pottery catalog</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,400&display=swap"
            rel="stylesheet" />
        <link
            href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/src/css/style.css">
    </head>
    <body>
        <main>
            <section class="about">
                <%- include("src/templates/head_mob.html") %>
                <div class="container">
                    <%- include("src/templates/head.html") %>
                    <h1 class="title-h2 mt-60 xl:mt-100">where it all began</h1>
                    <div
                        class="flex flex-col lg:flex-row gap-x-20 gap-y-35 mt-60 xl:mt-100">
                        <img class="lg:w-[50%] object-cover"
                            src="/src/img/about/crafts.jpg"
                            alt="crafts">
                        <div class="lg:w-[50%] font-light text-dark text-base">
                            Our small pottery workshop began as a simple passion
                            project, rooted in a love for handmade artistry and
                            traditional craftsmanship. What started with a
                            single wheel and a few lumps of clay has grown into
                            a cozy creative space where ideas take shape and
                            stories are told through every piece. Inspired by
                            timeless techniques and the beauty of natural
                            materials, we’ve built a place where both beginners
                            and experienced artists can come together, share
                            their skills, and celebrate the art of pottery. Each
                            creation reflects our journey—shaped by hand, fired
                            with care, and made to be cherished.
                            <br><br>
                            Over the years, our workshop has become more than
                            just a place to create—it’s a community. Friends,
                            families, and curious visitors gather here to learn,
                            connect, and experience the joy of working with
                            clay. From intimate masterclasses to collaborative
                            projects, we believe in the power of handmade art to
                            bring people together and spark creativity in
                            unexpected ways.
                            <br><br>
                            Every piece that leaves our studio carries a bit of
                            our story, blending tradition with personal
                            expression. Whether it’s a simple cup or an
                            intricate vase, our ceramics are crafted to be both
                            beautiful and functional, adding warmth and
                            authenticity to any space.
                        </div>

                    </div>
                </div>
            </section>
            <section class="relative contact pt-60 md:pt-45">
                <div class="container">
                    <h2 class="title-h2">get in touch</h2>
                    <div
                        class="relative grid grid-cols-1 gap-40 lg:grid-cols-2 contact__wrap xl:gap-147 mt-59 xl:mt-80">
                        <img src="/src/img/form/tea.jpg" alt="tea"
                            class="hidden lg:block contact__img w-550 xl:w-573">
                        <form class="contact__form">
                            <fieldset
                                class="contact__flex_input xl:flex xl:gap-45">
                                <div class="contact__input">
                                    <label for="contact__input_name"
                                        class="block text-sm font-light text-dark">Name</label>
                                    <input type="text" name="name"
                                        id="contact__input_name"
                                        class="block py-10 duration-150 bg-white rounded-sm px-15 w-340 md:w-300 border-my-border focus:border-dark focus:ring-dark placeholder-ui-disabled text-dark hover:border-dark"
                                        placeholder="name">
                                </div>
                                <div class="mt-8 contact__input">
                                    <label for="contact__input_email"
                                        class="block text-sm font-light text-dark">Email</label>
                                    <input type="email" name="email"
                                        id="contact__input_email"
                                        class="block py-10 duration-150 bg-white rounded-sm px-15 w-340 md:w-300 border-my-border focus:border-dark focus:ring-dark placeholder-ui-disabled text-dark hover:border-dark"
                                        placeholder="email">
                                </div>
                            </fieldset>

                            <div class="mt-8 contact__input">
                                <label for="contact__input_message"
                                    class="block text-sm font-light text-dark">Your
                                    question</label>
                                <textarea id="contact__input_message"
                                    class="block py-10 duration-150 bg-white rounded-sm px-15 w-340 md:w-300 h-160 border-my-border focus:border-dark focus:ring-dark placeholder-ui-disabled text-dark hover:border-dark"
                                    placeholder="Question"></textarea>
                            </div>

                            <div
                                class="flex items-center mt-20 contact__checkbox">
                                <input type="checkbox" name="checkbox"
                                    id="contact__input_checkbox"
                                    class="rounded-sm border-dark w-15 h-15 mr-15">
                                <label for="contact__input_checkbox"
                                    class="block text-sm font-light text-dark">I
                                    agree with the
                                    <a
                                        class="text-link"
                                        href>terms</a></label>
                            </div>
                            <div id="error__container"></div>

                            <button type="submit"
                                class="h-40 mt-20 text-sm font-light uppercase duration-700 border rounded-sm w-220 border-dark text-dark hover:border-ceramic hover:text-ceramic active:text-dark disabled:border-ui-disabled disabled:text-ui-disabled">
                                send request</button>
                        </form>
                        <img src="/src/img/form/vase.png" alt="vase"
                            class="absolute bottom-0 right-0 hidden contacts__bg md:block">
                    </div>

                </div>
            </section>

            <div class="map">
                <div class="container">
                    <h2 class="title-h2 mt-60 xl:mt-100">Find us</h2>
                    <div class="map__wrap">
                        <iframe
                            class="block w-full mx-auto h-206 md:h-400 lg:h-500 lg:w-663 mt-60 xl:mt-80 xl:w-801 xl:h-604 md:w-663"
                            src="https://yandex.ru/map-widget/v1/?um=constructor%3A06474e743bf64ed7d05dd6bdee7b8a7e465e87d1780ebcb3efb89fba16726f33&amp;source=constructor"
                            frameborder="0"></iframe>
                    </div>
                </div>
            </div>

            <%- include("src/templates/footer.html") %>

        </main>
        <script type="module" src="/src/js/main.js"></script>
    </body>
</html>